
<ion-content class="fondo letra">

  <div class="menu letra ">
    <ion-row>
      <ion-col>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <span>Menu</span>
          <mat-icon>directions_walk</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/perfil']">
            <mat-icon>face</mat-icon>
            <span>Perfil</span>
          </button>
          <button mat-menu-item (click)="salirPagina()">
            <mat-icon>reply</mat-icon>
            <span>Salir</span>
          </button>
          <button mat-menu-item (click)="datosBdConductor()">
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </ion-col>
      <ion-col class="margin-subtitulo" size="8">
        <!-- IMPRESIÓN NOMBRE ALUMNO -->
        Pasajero: {{pasajero}}
      </ion-col>
    </ion-row>
  </div>
  <!-- ETIQUETA QUE MUESTRA LA UBICACIÓN. -->
  <div id="map"></div>

  <form action="" #formulario="ngForm" >

    <div class=" letra ">
      <ion-row >
          <ion-col size="3" class="destino">
            Destino:
          </ion-col>
          <ion-col size="9">
            <mat-form-field appearance="fill" class="letra " >
              <input matInput placeholder="ingresa tu dirección" name="direccion" type="text" #direccion="ngModel"  class="letra" [(ngModel)]="datos.direccion" required>
              <!-- VALIDACIONES -->
              <mat-error *ngIf="direccion.errors?.['required']">
                Debes ingresar tu destino.
              </mat-error>
              <!-- VALIDACIONES -->
            </mat-form-field>
          </ion-col>  
      </ion-row>
    </div>

    <div class="">
      <table mat-table [dataSource]="dataSource" required>
    
        <!-- Position Column -->
        <ng-container matColumnDef="conductor">
          <th mat-header-cell *matHeaderCellDef > Conductor </th>
          <td mat-cell *matCellDef="let element" class="conductor"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="Patente">
          <th mat-header-cell *matHeaderCellDef > Patente </th>
          <td mat-cell *matCellDef="let element" class="conductor"> {{element.patente}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="Capacidad">
          <th mat-header-cell *matHeaderCellDef> Capacidad </th>
          <td mat-cell *matCellDef="let element" class="capacidad"> {{element.capacidad}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="Tarifa">
          <th mat-header-cell *matHeaderCellDef> Tarifa </th>
          <td mat-cell *matCellDef="let element" class="capacidad"> {{element.tarifa}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="check">
          <th mat-header-cell *matHeaderCellDef class="check">
            <mat-checkbox (change)="$event ? toggleAllRows() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="check">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
          
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator pageSize="2"> </mat-paginator>
    </div>

    <div>
      <ion-row>
        <ion-col size="6"> 
          <button mat-raised-button [disabled]="formulario.invalid" type="submit" id="iniciar" class="botton" shape="round" (click)="datosConductor()">
            <mat-icon>person_add</mat-icon>
            <span>Subete!</span>
          </button>
        </ion-col>  
        <ion-col size="6"> 
          <button mat-raised-button [disabled]="formulario.invalid" type="submit" class="botton1" shape="round" (click)="cancelarViaje('3000ms', '1000ms')">
            <mat-icon>close</mat-icon>
            <span>Cancelar</span>
          </button>
        </ion-col> 
      </ion-row> 
    </div>
    
  </form>
  
</ion-content>
