// CAMBIO DE FONDO DE COLOR
.fondo{
    --ion-background-color: white;
}
.letra{
    --ion-text-color:black;
}
  
::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: rgb(0, 22, 75) !important;
}
  
::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: rgb(0, 22, 75) !important;
} 
  
::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: rgb(0, 22, 75) !important;
}
  
::ng-deep.input {
    /*change color of underline when focused*/
    color: rgb(0, 22, 75) !important;
}
  //CAMBIO DE COLOR DE INPUT
::ng-deep.mat-form-field-appearance-fill{
    color: rgb(0, 22, 75);
}
// MARGEN BOTON.  
.margenb{
    margin-top: 10px;
    margin-left: 33px;
    width: 205px;
    color: white;
    background-color: rgb(0, 22, 75);
}
.margenb2{
    margin-top: 20px;
    margin-left: 33px;
    width: 205px;
    color: white;
    background-color: red;
  }
//MARGEN GENERAL.
.margin-superior{
    margin-top: 80px;
    
}
.margin-contenido{
    //margin-left: 30px;
    margin-top: 5px;
}

.caja3{
    
    position: relative;
    animation: slidein 1s ;
    animation-direction: reverse;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}  

@keyframes slidein {
    from {
      margin-left: 10%;
    }
  
    to {
      margin-right: 30%;
    }
}