<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-content class="fondo letra">

    <form action="" #formulario="ngForm" >
      
      <div class="margin-contenido letra">
        <ion-row >
            <ion-col size="12">
              Nombre
            </ion-col>
            <ion-col size="12">
              <mat-form-field appearance="fill" class="letra" >
                <input matInput placeholder="Ingrese su nombre" name="nombre" type="text" minlength=3 maxlength=10 class="letra" [(ngModel)]="datos.nombre" #nombre="ngModel" pattern="^[a-zA-ZñÑáéíóúÁÉÍÓÚ]+$" required>
                <!-- VALIDACIONES -->
                <mat-error *ngIf="nombre.errors?.['required']">
                  Debes ingresar tu nombre.
                </mat-error>
                <mat-error *ngIf="nombre.errors?.['pattern']">
                  Nombre inválido.
                </mat-error>
                <mat-error *ngIf="nombre.errors?.['minlength']">
                  Debes ingresar al menos 3 carácteres.
                </mat-error>
                <!-- VALIDACIONES -->
              </mat-form-field>
            </ion-col>  
        </ion-row>
      </div>
      
      <div class="margin-contenido letra">
        <ion-row >
            <ion-col size="12">
              Contraseña
            </ion-col>
            <ion-col size="12">
              <mat-form-field appearance="fill" class="letra" >
                <input matInput placeholder="Ingrese su contraseña" name="contrasenia" type="password" minlength=5 maxlength=5 class="letra" #contrasenia="ngModel" pattern="^[0-9]+$" [(ngModel)]="datos.contrasenia" required>
                <!-- VALIDACIONES -->
                <mat-error *ngIf="contrasenia.errors?.['required']">
                  Debes ingresar tu contrasenia.
                </mat-error>
                <mat-error *ngIf="contrasenia.errors?.['pattern']">
                  La contraseña debe contener sólo números.
                </mat-error>
                <mat-error *ngIf="contrasenia.errors?.['minlength']">
                  La contraseña debe contener 5 números.
                </mat-error>
                <!-- VALIDACIONES -->
              </mat-form-field>
            </ion-col>  
        </ion-row>
      </div>
      
      <div class="margin-contenido">
        <ion-row>
          <ion-col size="12">
            ¿Que deseas hacer?
          </ion-col>
          <ion-col size="12">  
            <mat-form-field appearance="fill">
              <mat-select [(ngModel)]="selectedValue" name="select" placeholder="Seleccione una opción" #select="ngModel" [(ngModel)]="datos.usuario" required>
                <mat-option *ngFor="let select of opciones"  [value]="select.value"  required>
                  {{select.viewValue}}
                </mat-option>
              </mat-select>
              <!-- VALIDACIONES -->
              <mat-error *ngIf="select.errors?.['required']">
                Debes seleccionar una opción.
              </mat-error>
              <!-- VALIDACIONES -->
            </mat-form-field>
          </ion-col>
        </ion-row>
      </div>  
      
      <ion-row>
        <div class="example-button-row">
          <button mat-flat-button [disabled]="formulario.invalid" class="margenb"  (click)="redirecionPage()">Ingresar</button>
        </div> 
      </ion-row>
  
    </form>
  
</ion-content>
