
  <ion-content class="fondo letra">

    <form action="" #formulario="ngForm" >
      
      <div class="margin-superior letra caja3">
        <ion-row >
            <ion-col size="12">
              Rut
            </ion-col>
            <ion-col size="12">
              <mat-form-field appearance="fill" class="letra" >
                <input matInput placeholder="Ingrese su rut" name="rut" type="text" minlength=10 maxlength=10 class="letra" [(ngModel)]="datos.rut" #rut="ngModel" pattern="^[0-9]+-[0-9kK]{1}$" required>
                <!-- VALIDACIONES -->
                <mat-error *ngIf="rut.errors?.['required']">
                  Debes ingresar tu rut.
                </mat-error>
                <mat-error *ngIf="rut.errors?.['pattern']">
                  Rut inválido.
                </mat-error>
                <mat-error *ngIf="rut.errors?.['minlength']">
                  El rut debe contener 10 carácteres.
                </mat-error>
                <!-- VALIDACIONES -->
              </mat-form-field>
            </ion-col>  
        </ion-row>
      </div>
      
      <div class="margin-contenido letra caja3">
        <ion-row >
            <ion-col size="12">
              Contraseña
            </ion-col>
            <ion-col size="12">
              <mat-form-field appearance="fill" class="letra" >
                <input matInput placeholder="Ingrese su contraseña" name="contrasenia" type="password" minlength=5 maxlength=5 class="letra" #contrasenia="ngModel" pattern="^[0-9]+$" [(ngModel)]="datos.contrasenia" required>
                <!-- VALIDACIONES -->
                <mat-error *ngIf="contrasenia.errors?.['required']">
                  Debes ingresar tu contrasenia.
                </mat-error>
                <mat-error *ngIf="contrasenia.errors?.['pattern']">
                  La contraseña debe contener sólo números.
                </mat-error>
                <mat-error *ngIf="contrasenia.errors?.['minlength']">
                  La contraseña debe contener 5 números.
                </mat-error>
                <!-- VALIDACIONES -->
              </mat-form-field>
            </ion-col>  
        </ion-row>
      </div>
     
      <div class="margin-contenido caja3">
        <ion-row>
          <ion-col>
            <h4>¿Has olvidado tu contraseña?</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <a href="" [routerLink]="['/restablecer-contrasenia']">Restablecer Contraseña</a>
          </ion-col>
        </ion-row>
      </div>
      
      <ion-row>
        <div >
          <button mat-flat-button [disabled]="formulario.invalid" class="margenb"  (click)="redirecionPage()">Ingresar</button>
        </div> 
      </ion-row>
      <ion-row>
        <div>
          <button mat-flat-button  class="margenb2" [routerLink]="['/home']" >Volver</button>
        </div> 
      </ion-row>
  
    </form>
    
</ion-content>
