
<button mat-raised-button (click)="openDialog('3000ms', '1500ms')"></button>
          <h1 mat-dialog-title class="titulo">Bienvenido</h1>
          <div mat-dialog-content class="mensaje">
            ¿Qué necesitas?
          </div>
          <div mat-dialog-actions>
            <button mat-flat-button mat-dialog-close [routerLink]="['/pasajero']" class="margenb">Solicitar viaje</button><br>
            <button mat-flat-button mat-dialog-close [routerLink]="['/chofer']" class="margenb">Tomar pasajeros</button>
          </div>
