
  <h1 mat-dialog-title class="titulo">Alerta</h1>
  <mat-divider class="divider"></mat-divider>
    <div mat-dialog-content class="mensaje">
        ¿Deseas cancelar el viaje?.
    </div>
    <div mat-dialog-actions>
      <ion-row>
        <ion-col>
          <!-- ASIGNAMOS EL VALOR DE TRUE AL BOTÓN AL MOMENTO QUE CIERRA EL DIÁLOGO CON MAT-DIALOG CLOSE -->
          <button mat-raised-button [mat-dialog-close]="true" size="4" value="true" class="botton" >
            <mat-icon>check</mat-icon> 
          </button><br>
        </ion-col>
        <ion-col>
          <button  mat-raised-button mat-dialog-close size="2" class="botton1">
            <mat-icon>close</mat-icon>
          </button >  
        </ion-col>
      </ion-row>
    </div>
    