<ion-header>
  <ion-toolbar>
    <div class="example-label caja-boton"></div>
      <div class="example-button-row volver">
        <button [routerLink]="['/home']" class="boton-volver"  mat-raised-button><p class="letra-volver"> Atràs </p> </button>
      
      </div>
    <ion-title class="titulo">Restablecer  Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="">

  <div class="fondo">
    <div class="example-containers ">
      <div class="caja">
        <div class="maximizar"></div>
        <div class="cerrar"></div>
      </div>
        <mat-form-field appearance="fill" class="x">
          <mat-label  class="letras"><p class="color-letra">  Ingresa tu Email </p></mat-label>
          <input class="input" matInput placeholder="pat@example.com" [formControl]="email" required>
          <mat-error class="error" *ngIf="email.invalid"><div class="interpol"><p class="color-interpol">{{getErrorMessage()}}</p></div></mat-error>
        </mat-form-field>
        
      
        <div class="boon">
          <ion-button class="boton" color="Dark" [routerLink]="['/login']" (click)="presentAlert()">Aceptar</ion-button>
        </div>
    </div>
    
  </div>
</ion-content>
