  <ion-header >
    <ion-toolbar >
      <div class="titulo-toolbar">
        <ion-title>Te Llevo App</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="">
    <ion-text class="" color="sucess">
      <div class="margin">
      
      <img src="logoapp" src="../../assets/Tellevoapp.png">
      <ion-progress-bar type="indeterminante" reversed="true"></ion-progress-bar>
      </div>
    </ion-text>
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <h2 class="margin-titulo">Bienvenido!</h2>
          <ion-button [routerLink]="['/registro']" expand="block" type="submit" color="medium">Registro usuario</ion-button>
          <ion-row class="margin-subtitulo">
            <h4 >O si ya eres usuario</h4>
          </ion-row>
          
          <ion-button [routerLink]="['/login']" expand="block" color="medium">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content> 
