
.margin{
  margin-top: 0px;
}

.margin-titulo{
  margin-left: 75px;
  margin-bottom: 30px;
}
.margin-subtitulo{

  margin-left: 70px;
  margin-top: 30px;
}
.titulo-toolbar{
  background-color: black;
  color: white;
  padding-top: 40px;
  padding-bottom: 10px;
}


