    
  <ion-content class="fondo ">
    <ion-text class="" color="sucess">
      <div class="margin-superior fondo ">
      
      <img src="logoapp" src="../../assets/Tellevoapp.png">
      <ion-progress-bar type="indeterminante" reversed="true"></ion-progress-bar>
      </div>
    </ion-text>
    <ion-grid class=" fondo">
      <ion-row class="margin-fondo">
        <ion-col align-self-center>
          <h2 class="margin-titulo">Bienvenido</h2>
          <!-- <button mat-raised-button (click)="openDialog('3000ms', '1500ms')">Open dialog slowly</button>
          <h1 mat-dialog-title>Delete file</h1>
          <div mat-dialog-content>
            Would you like to delete cat.jpeg?
          </div>
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close>No</button>
            <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
          </div> -->
          <ion-button (click)="openDialog('3000ms', '1500ms')" expand="block" type="submit" color="primary" class="boton">Registro usuario</ion-button>
          <ion-row class="margin-subtitulo">
            <h4 >Si ya eres usuario</h4>
          </ion-row >
          <ion-button [routerLink]="['/login']" expand="block" color="primary" class="boton">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  

  
