
.letra{
  --ion-text-color:black;
}
.fondo{
  --ion-background-color: white;
}  
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}
  
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 
  
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: black !important;
}
  
::ng-deep.input {
  /*change color of underline when focused*/
  color: black !important;
  
}
//CAMBIO DE COLOR DE INPUT
::ng-deep.mat-form-field-appearance-fill{
  color: black;
}
.margin-superior{
  margin-top: 32px;
}


.margin-titulo{
  margin-left: 75px;
  margin-bottom: 30px;
  font-style: oblique;
  font-weight: 550;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.titulo{
  font-style: oblique;
  font-weight: 550;
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fondo{
  background: white;
  
}
.margenb{
  // margin-top: 10px;
  margin-left: 33px;
  width: 205px;
  color: white;
  background-color:  rgb(0, 22, 75);
  
}
.margin-fondo{
  margin-bottom: 15px;
}
.footer{
  background-color: rgb(192, 192, 192);
  color: rgb(0, 22, 75);
  font-style: italic;
  font-size: smaller;
  padding-top: 10px;
}

//**********ANIMACION**********
.caja3{
    
  position: relative;
  animation: slidein 1.2s ;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}  

@keyframes slidein {
  from {
    margin-left: 10%;
  }
  to {
    margin-right: 30%;
  }
}
//**********ANIMACION**********

