.titulo{
    text-align: center;
    font-style: oblique;
    font-weight: 550;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mensaje{
    text-align: justify;
    font-size: medium;
    margin-top: 20px;
}
.divider{
    background-color: red;
}