
<form action="" #formulario="ngForm" >
    <h1 mat-dialog-title class="titulo">Bienvenido</h1>
    <mat-divider class="divider"></mat-divider>
      <div mat-dialog-content class="mensaje">
          Qué necesitas?
      </div>
      <div mat-dialog-actions>
        <button mat-flat-button mat-dialog-close [routerLink]="['/pasajero']"  (click)="pasajero()" class="botton">Solicitar viaje</button><br>
        <button mat-flat-button mat-dialog-close [routerLink]="['/chofer']" class="botton">Tomar pasajeros</button>
      </div>
</form>
