.botton{
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    height: 20px;
    color: white;
    background-color:  rgb(0, 22, 75);
}
.titulo{
    text-align: center;
    font-style: oblique;
    font-weight: 550;
    font-size: x-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mensaje{
    text-align: center;
    font-size: medium;
    margin-top: 15px;
}
.divider{
    background-color: rgb(255, 183, 28);
}
