<ion-content class="fondo letra margin-superior">
 
    <div class="margin-superior letra ">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="titulo">Usuarios registrados</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let i of usuarios">
            id: {{ i.id}} nombre: {{i.name}} email: {{i.email}}
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>  
    
</ion-content>
