<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo letra">

  <form action="" #formulario="ngForm" (ngSubmit)="guardarDatos()">
    
    <div class="margin-superior letra">
      <ion-row >
          <ion-col size="12">
            Nombre
          </ion-col>
          <ion-col size="12">
            <mat-form-field appearance="fill" class="letra" >
              <input matInput placeholder="Ingrese su nombre" name="nombre" minlength=3 maxlength=10 class="letra" [(ngModel)]="datos.nombre" required>
              <mat-error *ngIf="nombre.invalid">{{getErrorNombre()}}</mat-error>
            </mat-form-field>
          </ion-col>  
      </ion-row>
    </div>
    
    <div class="margin-contenido letra">
      <ion-row >
          <ion-col size="12">
            Apellido
          </ion-col>
          <ion-col size="12">
            <mat-form-field appearance="fill" class="letra" >
              <input matInput placeholder="Ingrese su apellido" name="apellido" minlength=3 maxlength=10  class="letra" [(ngModel)]="datos.apellido" required>
              <mat-error *ngIf="apellido.invalid">{{getErrorApellido()}}</mat-error>
            </mat-form-field>
          </ion-col>  
      </ion-row>
    </div>
    
    <div class="margin-contenido letra">
      <ion-row >
          <ion-col size="12">
            Nombre Usuario
          </ion-col>
          <ion-col size="12">
            <mat-form-field appearance="fill" class="letra" >
              <input matInput placeholder="Ingrese su usuario" name="usuario" minlength=3 maxlength=10 class="letra" [(ngModel)]="datos.usuario" required>
              <mat-error *ngIf="usuario.invalid">{{getErrorUsuario()}}</mat-error>
            </mat-form-field>
          </ion-col>  
      </ion-row>
    </div>

    <div class="margin-contenido letra">
      <ion-row >
          <ion-col size="12">
            Correo Electrónico
          </ion-col>
          <ion-col size="12">
            <mat-form-field appearance="fill" class="letra" >
              <input matInput placeholder="Ingrese su correo electrónico" name="email" minlength=5 class="letra" [(ngModel)]="datos.email" required>
              <mat-error *ngIf="nombre.invalid">{{getErrorEmail()}}</mat-error>
            </mat-form-field>
          </ion-col>  
      </ion-row>
    </div>

    <div class="margin-contenido letra">
      <ion-row >
          <ion-col size="12">
            Contraseña
          </ion-col>
          <ion-col size="12">
            <mat-form-field appearance="fill" class="letra" >
              <input matInput placeholder="Ingrese su contraseña" name="contrasenia" type="password" minlength=5 maxlength=5 class="letra" [(ngModel)]="datos.contrasenia" required>
              <mat-error *ngIf="contrasenia.invalid">{{getErrorContrasenia()}}</mat-error>
            </mat-form-field>
          </ion-col>  
      </ion-row>
    </div>

    <div class="margin-contenido letra">
      <ion-row >
          <ion-col size="12">
            Confirmar Contraseña
          </ion-col>
          <ion-col size="12">
            <mat-form-field appearance="fill" class="letra" >
              <input matInput placeholder="Confirme su contraseña" name="confirmarContrasenia" type="password" minlength=5 maxlength=5 [formControl]="confirmarContrasenia" class="letra" [(ngModel)]="datos.confirmarContrasenia" required>
              <mat-error *ngIf="confirmarContrasenia.invalid">{{getErrorConfirmarcontrasenia()}}</mat-error>
            </mat-form-field>
          </ion-col>  
      </ion-row>
    </div>

    <ion-row>
      <div class="example-button-row">
        <button mat-flat-button [disabled]="formulario.invalid" type="submit" class="margenb" [routerLink]="['/registro']" (click)="guardarDatos()">Registrar</button>
      </div> 
    </ion-row>

  </form>
</ion-content>
