.fondo{
  --ion-background-color: white;
}
.letra{
  --ion-text-color:black;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: black !important;
}

::ng-deep.input {
  /*change color of underline when focused*/
  color: black !important;
}
//CAMBIO DE COLOR DE INPUT
::ng-deep.mat-form-field-appearance-fill{
  color: black;
}
// MARGEN BOTON.  
.margenb{
  margin-top: 20px;
  margin-left: 33px;
  width: 205px;
  color: white;
  background-color: black;
}
.margenb2{
  margin-top: 20px;
  margin-left: 33px;
  width: 205px;
  color: white;
  background-color: red;
}
//MARGEN GENERAL.
.margin-superior{
  margin-top: 50px;
  margin-left: 30px;
}
.margin-contenido{
  //margin-left: 30px;
  margin-top: 35px;
}
.margin-check{
  margin-top: 10px;
}
.example-margin {
  margin: 0 40px;
}
.caja3{
  
  position: relative;
  animation: slidein 1.2s ;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}  

@keyframes slidein {
  from {
    margin-left: 10%;
  }
  to {
    margin-right: 30%;
  }
}
//CHECK-BOX.
.example-margin {
  margin: 0 20px;
}