<a [routerLink]="['/perfil']" class="margin-superior"> perfil</a>


<ion-content class="fondo letra">
  
  <form action="" #formulario="ngForm" >
 
    <mat-divider [inset]="true" class="caja3"></mat-divider>

    <p class="margin-contenido titulo caja3">Conductor</p>

    

    <div class="margin-check letra caja3">
      <ion-row>
        <ion-col size="12">
          Establece la tarifa:
        </ion-col>
      </ion-row>
        
      <ion-row>

          <mat-radio-group name="labelPosition" [(ngModel)]="labelPosition">
            <ion-row>
              <mat-radio-button class="example-margin"  value="after">$50 x minuto</mat-radio-button>
            </ion-row>
            <ion-row>
              <mat-radio-button class="example-margin" value="before">$100 x minuto</mat-radio-button>
            </ion-row>
          </mat-radio-group>

      </ion-row>
    </div>
    
    <mat-divider [inset]="true" class="caja3"></mat-divider>

    <ion-row>
      <div class="example-button-row">
        <button mat-flat-button [disabled]="formulario.invalid" class="margenb"  (click)="redirecionPage()">Ingresar</button>
      </div> 
    </ion-row>

    <ion-row>
      <div class="example-button-row">
        <button mat-flat-button  class="margenb2" [routerLink]="['/login']">Volver</button>
      </div> 
    </ion-row>

  </form>

</ion-content>
